<div class="title">
    <h3 mat-dialog-title class="text-left mb-0">Confirmación</h3>
</div>
<div class="modal-btn-close position-absolute" style="margin-top:-35px;margin-left: 260px;">
    <button mat-icon-button color="" [mat-dialog-close]="" aria-label="Example icon-button with a heart icon"
        style="z-index: 9; color: white;">
        <mat-icon (click)="close()">close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="margin-dialog">
    <p class="text-center">¿Estás seguro que desea eliminar este registro?</p>
</div>
<div mat-dialog-actions>
    <button class="mx-auto btn-alicorp" mat-raised-button cdkFocusInitial (click)="confirmeDeleteItem()">Aceptar</button>
</div>