/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";

$color-primary: #ed1b2f;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-w {
    display: grid;
    justify-items: center;
    padding: 20px;
}

.btn-alicorp {
    // width: 100%;
    max-width: 100px;
    color: #ffff;
    background-color: $color-primary;
}

.btn-ali {
    // width: 100%;
    max-width: 100px;
    background-color: transparent;
    border: 1px solid $color-primary !important;
    color: $color-primary;
}

.mat-progress-spinner::ng-deep circle {
    stroke: $color-primary !important;
}

#toast-container {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    div {
        width: 1200px;
    }

    .toast-success {
        background-image: none;
        background-color: #c3e3e6;
        color: black;
    }

    .toast-error {
        background-image: none;
        background-color: #c3e3e6;
        color: red;
    }
}

::ng-deep .mat-dialog-container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: inherit;
}

.margin-dialog {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 0;

    p {
        font-size: 1rem;
    }
}

.title {
    border-bottom: 1px solid $color-primary;
    padding: 5px 15px 0 15px;
    background-color: $color-primary;

    h3 {
        color: #ffff;
    }
}
